#version=1.1
#URL=https://github.com/tailscale-dev/ScaleTail
#COMPOSE_PROJECT_NAME= # Optional: only use when running multiple deployments on the same infrastructure.

# Service Configuration
SERVICE=chelsea-girl-quiz # Tailscale hostname for this service. Becomes ${SERVICE}.${TAILNET}.ts.net
IMAGE_URL=caddy:latest

# Tailnet name (the bit between the hostname and ts.net in your MagicDNS name).
# Find it in the Tailscale admin console: https://login.tailscale.com/admin/dns
# Example: tailxxxxx or your-org-name
TAILNET=your-tailnet-name

# Network Configuration
SERVICEPORT=80
DNS_SERVER=9.9.9.9

# Tailscale Configuration
# Generate at: https://login.tailscale.com/admin/settings/keys
TS_AUTHKEY=tskey-auth-xxxxxxxxxxxx

# Time Zone setting for containers
TZ=Pacific/Auckland # See: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Optional Service variables
# PUID=1000
# PGID=1000
